/* base */
body {
	margin: 0;
	font-family: "Inter", sans-serif;
}
:root {
	--lime-green: hsl(163, 72%, 41%);
	--bright-red: hsl(356, 69%, 56%);

	--facebook: #168ef4;
	--twitter: hsl(203, 89%, 53%);
	--instagram-1: hsl(37, 97%, 70%);
	--instagram-2: hsl(329, 70%, 58%);
	--youtube: hsl(348, 97%, 39%);
	--gray: #5f616d;
}
.wrapper {
	padding: 0 30px;
}
.grid {
	display: grid;
	grid-row-gap: 30px;
}
/* header */
.header {
	background: #f8f9fe;
	padding-bottom: 100px;
	border-radius: 0 0 20px 20px;
}
h1 {
	margin: 0;
	padding-top: 2em;
	font-size: 1.5em;
}
.header-total {
	color: var(--gray);
	margin: 0.5em 0;
	font-weight: 600;
	border-bottom: 2px solid var(--gray);
	padding-bottom: 1.5em;
}
/* top card */
.top-card {
	margin-top: -50px;
}
/* card */
.card {
	border-radius: 8px;
	overflow: hidden;
	background: #f0f3fa;
	text-align: center;
	padding: 1.7em 0;
	position: relative;
}
.card:before {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	content: "";
	height: 4px;
	display: block;
	border-radius: 5px;
}
.card.facebook::before {
	background: var(--facebook);
}
.card.instagram::before {
	background-image: linear-gradient(
		to right,
		var(--instagram-1) 0%,
		var(--instagram-2) 100%
	);
}
.card.twitter::before {
	background: var(--twitter);
}
.card.youtube::before {
	background: var(--youtube);
}

.card-title {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #6f717e;
	font-size: 0.9em;
	font-weight: bold;
}
.card-title img {
	margin-right: 5px;
}

.card-followers {
}
.card-followers-number {
	font-size: 50px;
	font-weight: 700;
}
.card-followers-title {
	display: block;
	text-transform: uppercase;
	color: var(--gray);
	letter-spacing: 5px;
	font-size: 0.75em;
}
.card-today {
	margin-top: 20px;
	color: var(--lime-green);
	font-size: 0.7em;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-today img {
	margin-right: 5px;
}

/*overview*/
.overview {
}
.card-small {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 1em;
	background: #f0f3fa;
	border-radius: 8px;
	padding: 1.7em;
}
.card-small p {
	margin: 0;
}
.card-small-views {
	color: var(--gray);
	font-weight: bold;
	font-size: 0.9em;
}
.card-small-icon {
	text-align: right;
}
.card-small-number {
	font-weight: bold;
	font-size: 2.5em;
	line-height: 0.9;
}
.card-small-percentage {
	text-align: right;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	color: var(--lime-green);
	font-size: 0.9em;
	font-weight: bold;
}
.card-small-percentage.is-danger {
	color: var(--bright-red);
}
.card-small-percentage span {
	display: flex;
	align-items: center;
}
.card-small-percentage span img {
	margin-right: 5px;
}
